<h1>Create a new chat room</h1>

<%= form_for @chat do |f| %>
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, autofocus: true %>
  </div>

  <%= f.submit "Add!" %>
<% end %>